/*PARTE GENERALE*/

*{
    padding: 0em;
    margin: 0em;
}

html, body {
    max-width: 1024px; /* definire dimensione massima pagina */
    margin: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    min-height: 100%;
}

html{
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	background-color:#EDF2F7;
}

#header {
	text-align: center;
}

#header h1{
	color: #4D4D4D;
	font-size: 4em;
	font-weight: bold;
	padding:0.5em;
}

#breadcrumbs {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: auto;
	color: #4D4D4D;
	font-weight: bold;
	padding-left: 0.5em;
}

#hamburger {
	display: none;
}

#menu {
	height: 3em;
	background-color: #4D4D4D;
	border-bottom: 1px solid #DDD;
	margin-bottom:1em;

}

#menu .login{
	display: inline-block;
	float:right;
}

#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#menu li{
	display: block;
    float: left;
}

#menu li a {
	padding: 0.9em 1em 0.9em 1em;
    display: block;
	color:#EDF2F7;
}

#menu li p {
	padding: 0.9em 1em 0.9em 1em;
    display: block;
    color: #EDF2F7;
}

#menu li a:hover {
    background-color: #9C9C9C;
}

#smallmenu {
	display: none;
}

#up {
	display: none;
}

#content {	
	display: inline-block;
	float:right;
	color: #4D4D4D;
	width:100%;
	text-align:center;
	margin-bottom: 10%;
}

#content ul{
	list-style-type: none;
	text-align: center;
	margin-bottom: 10%
}

#content p{
	text-align: left;
	padding: 1em;
}

#content fieldset {
	border: none;
}

.Serie p{
	text-align: left;
}

.Serie h1{
	padding: 0.5em;
	display: block;
	text-align: center;
}

.Serie h2{
	color: #4D4D4D;
	font-weight: bold;
	padding:1em 0.5em;
}

.Serie h3{
	padding-bottom: 1em;
	text-align: center;
	display: block;
}
.Serie a{
	color: #4D4D4D;
	text-align: center;
	display: block;
}

#ListaSerie{
	padding:0.3em;
}

#ListaSerie p{
	padding:0em;
	margin-left :5%;
}

.ELSerie{
	margin-bottom:0.7em;
}
.ELSerie a{
	color: #4D4D4D;
	display: inline;
}

.ELSerie p{
	display: inline;
	color: #4D4D4D;
}

#RisultatoRicerca{
	padding-top:0.5em;
	text-align: left;
	border-spacing: 1em;
	width:70%; 
    margin-left:15%; 
}

#RisultatoRicerca a{
	color: #4D4D4D;
}

.notizia h2{
	padding: 0.5em 1.5em 0.5em 1.5em;
}

.notizia h4{
	display: inline-block;
	padding: 0em 0.5em 0em 1em;
}

.notizia p{
	padding: 2em;
	margin-bottom: 3%;
}

.lemieserie{
	padding: 1em;
}
.lemieserie a {
	color: #4D4D4D;
	display: inline;
}

.lemieserie p {
	display: inline;
}

#barraricerca{
	width: 80%;
	margin-left: 10%;
	padding-bottom: 5%;
}

#barraricerca fieldset {
	border: none;
}

#footer{
	text-align: center;
	display: inline-block;
	padding:0.5em;
	font-size: 0.8em;	
	width:100%;
}


.Genere{
	text-align:center;
	border:1px solid #000;
    border-radius:15px;
	width:20%;
	min-width:6.5em;
	margin-left:10%;
	margin-top:2em;
	float:left;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.Genere a{
	display:inline-block;
    border-radius:15px;
	padding-top:3.4em;
	padding-bottom:3.4em;
	width:100%;
	color: #EDF2F7;
}

.Thriller a:hover{
	background-image:url("../Img/ThrillerAction1.jpg") ;
	background-size:100% 100%;
}

.Drammatico a:hover{
	background-image:url("../Img/DrammaticoAction.jpg") ;
	background-size:100% 100%;
}

.Poliziesco a:hover{
	background-image:url("../Img/PoliziescoAction.jpg") ;
	background-size:100% 100%;
}

.Commedia a:hover{
	background-image:url("../Img/CommediaAction.jpg") ;
	background-size:100% 100%;
}

.Fantasy a:hover{
	background-image:url("../Img/FantasyAction.jpg") ;
	background-size:100% 100%;
}

.Fantascienza a:hover{
	background-image:url("../Img/FantascienzaAction.jpg") ;
	background-size:100% 100%;
}

.Thriller{
	background-image:url("../Img/Thriller1.jpg") ;
	background-size:100% 100%;
}

.Drammatico{
	background-image:url("../Img/Drammatico.jpg") ;
	background-size:100% 100%;
}

.Fantascienza{
	background-image:url("../Img/Fantascienza.jpg") ;
	background-size:100% 100%;
}

.Fantasy{
	background-image:url("../Img/Fantasy.jpg") ;
	background-size:100% 100%;
}

.Commedia{
	background-image:url("../Img/Commedia.jpg") ;
	background-size:100% 100%;
}

.Poliziesco{
	background-image:url("../Img/Poliziesco.jpg") ;
	background-size:100% 100%;
}

label{
	width: 80%;
	display: inline-block;
	margin: 0.5em;
	text-align: center;
}

input[type=text], input[type=password] {
	width: 80%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.5em;
    clear: both;
    display: inline-block;
    border: 1px solid #ccc;
}


.cancelbtn {
	margin-top:1em;
	margin-left:5%;
	display: block;
	border: 1px solid #ccc;
	color: #EDF2F7;
	font-weight: bold;
    padding: 0.7em;
    background-color: #4D4D4D;
    float: left;
}

.cancelbtn:hover{
    background-color: #9C9C9C;
}

#pageNavigation
{
	color:#540B0E;
	display: inline-block;
	float: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#pageNavigation p
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#pageNavigation li{
	float:left;
	padding:0.5em;
	margin-left:0.5em;
}

#pageNavigation a{
	color:#4D4D4D;
}

#pageNavigation a:visited{
	float:left;
	padding:0.5em;
	margin-left:0.5em;
	color:#A50600;
}

.ImgSerie {
    width: 10em;
    float: left;
    display: inline;
    overflow: auto;
    padding: 0 1em 0 0;
}

#trama {
	display: block;
}

.back  {
	display: inline-block;
	width: 20%;
	margin: auto;
	clear:both;
}

#inputbox {
	width: 80%;
}

#submit {
	display: block;
	clear: both;
	margin-left: 46%;
	border: 1px solid #ccc;
	color: #EDF2F7;
	font-weight: bold;
    padding: 1em;
    background-color: #4D4D4D;
    margin-top: 0.5em;
}

#submit:hover{	
	background-color: #A5C5E9;
}

.submitvoto {
	display: inline;
	border: 1px solid #ccc;
	color: #EDF2F7;
	font-weight: bold;
    padding: 1em;
    background-color: #4D4D4D;
    margin-top: 0.5em;
}

.submitvoto:hover{	
	background-color: #A5C5E9;
}

.submitserie {
	display: inline;
	border: 1px solid #ccc;
	color: #EDF2F7;
	font-weight: bold;
    padding: 1em;
    background-color: #4D4D4D;
    margin-top: 0.5em;
}

.submitserie:hover{	
	background-color: #A5C5E9;
}

#selectgenere {
	display: block;
	margin:auto;
}

.aiuti {
	position: absolute;
	height: 0;
	overflow: hidden;
	padding-bottom: 0;
	margin: 0;
}

.registra a{
	color: #4D4D4D;
}

.link{
	color: #4D4D4D;
}