/*PARTE GENERALE*/
*{
    padding: 0em;
    margin: 0em;
}

html, body {
    max-width: 1024px; /* definire dimensione massima pagina */
    margin: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    min-height: 100%;

}

html{border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	background-color:#333;
}

#header {
	text-align: center;
}

#header h1{
	color: #cc3333;
	font-size: 4em;
	font-weight: bold;
	padding:0.5em;
}

#breadcrumbs {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width: auto;
	padding: 0.2em;
	color: #cc3333;
	
	font-weight: bold;
}

#menu {
	height: 3em;
	background-color: #cc3333;
	border-bottom: 1px solid #DDD;
	margin-bottom:1em;
}
#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#menu li{
    float: left;
}
#menu li a {
	padding: 0.9em 1em 0.9em 1em;
    display: block;
	color:white;
}
#menu li p {
	padding: 0.9em 1em 0.9em 1em;
    display: block;
    color: white;
}

#menu li a:hover {
    background-color: #663333;
}

#login{
	display:block;
	float:right;
}

#TastoLogIn{
	text-decoration: underline;
	font-weight: normal;
	border:none;
	margin-top:0em;
	font-size: 1em;
	padding: 0.95em 1em 0.9em 1em;
}
input[type=submit]:hover
{	
	background-color: #663333;

}
#content {	
	display: inline-block;
	float:right;
	color: white;
	width:100%;
	text-align:center;
	margin-bottom: 10%;
}
#content p
{
	padding: 1em;
}
#content ul{
	list-style-type: none;
}

.Serie h2{
	color: #cc3333;
	font-weight: bold;
	padding:1em 0.5em;
}

.Serie p{text-align: left;}


.Serie h1{
	padding: 0.5em;
	display: block;
	text-align: center;
}

.Serie h3{
	padding-bottom: 1em;
	text-align: center;
	display: block;
}
.Serie a{
	color: #cc3333;
	display: block;
	text-align: center;
}

.ELSerie{
	margin-bottom:0.7em;
}
.ELSerie a{
	color: #cc3333;
	display: inline;
}

.ELSerie p{
	display: inline;
	color: white;
}
#ListaSerie
{
	padding:0.3em;
}
#ListaSerie p
{

	padding:0em;
	margin-left :5%;
}

#barraricerca{
 width: 80%;
 margin-left: 10%;
}
#footer
{
	text-align: center;
	display: inline-block;
	padding:0.5em;
}

.Genere{
	text-align:center;
	border:1px solid #000;	
	width:20%;
	min-width:6.5em;
	margin-left:10%;
	margin-top:2em;
	float:left;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	
}
.Genere a{
	display:inline-block;
	padding-top:3.4em;
	padding-bottom:3.4em;
	width:100%;
	color: #FFF;

}
.Thriller a:hover{
	background-image:url("../Img/ThrillerAction1.jpg") ;
	background-size:100% 100%;
}
.Drammatico a:hover{
	background-image:url("../Img/DrammaticoAction.jpg") ;
	background-size:100% 100%;
}
.Poliziesco a:hover{
	background-image:url("../Img/PoliziescoAction.jpg") ;
	background-size:100% 100%;
}
.Commedia a:hover{
	background-image:url("../Img/CommediaAction.jpg") ;
	background-size:100% 100%;
}
.Fantasy a:hover{
	background-image:url("../Img/FantasyAction.jpg") ;
	background-size:100% 100%;
}.Fantascienza a:hover{
	background-image:url("../Img/FantascienzaAction.jpg") ;
	background-size:100% 100%;
}
	
	
.Thriller{
	background-image:url("../Img/Thriller1.jpg") ;
	background-size:100% 100%;
	}
.Drammatico{
	background-image:url("../Img/Drammatico.jpg") ;
	background-size:100% 100%;
	}
.Fantascienza{
	background-image:url("../Img/Fantascienza.jpg") ;
	background-size:100% 100%;
	}
.Fantasy{
	background-image:url("../Img/Fantasy.jpg") ;
	background-size:100% 100%;
	}
.Commedia{
	background-image:url("../Img/Commedia.jpg") ;
	background-size:100% 100%;
	}
.Poliziesco{
	background-image:url("../Img/Poliziesco.jpg") ;
	background-size:100% 100%;
	}

label{
	width: 100%;
	display: inline-block;
	margin: 0.5em;
}

input[type=text], input[type=password] {
	width: 80%;
    padding: 0.5em 1em;
    margin-left: 10%;
    margin-top: 0.5em;
    clear: both;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{
	display: inline;
	border: 1px solid #ccc;
	color: #fff;
	font-weight: bold;
    padding: 1em;
    background-color: #cc3333;

    margin-top: 0.5em;
}

.cancelbtn {
	display: block;
	border: 1px solid #ccc;
	color: #fff;
	font-weight: bold;
    padding: 1em;
    background-color: #cc3333;
    float: left;
}
.cancelbtn:hover{
    background-color: #663333;
}


.container {
    padding: 1em;
}

.ListaSerie{

	padding-left:20%;
	padding-top:0.5em;
	text-align: left;

}



.ListaSerie a
{
	color: #cc3333;
}
.ListaSerie a,p
{
	padding-right: 1em;
}