/*PARTE GENERALE*/

html{
	border-left: none;
	border-right: none;
}

#content {	
	float:none;
}


#breadcrumbs{
	width: 100%;
}

#menu{
	height: auto;
	float: none;
	width: 100%;
}

#menu #login{
	display: block;
	float: none;
}

#menu li{
	float: none;
}

#menu li a {
	padding: 0.3em;
}

#menu li p {
	padding: 0.3em;
}

.Genere{
	width:35%;
	min-width:0em;
}
.Genere a{
	padding-top:25%;
	padding-bottom:25%;
	font-size: 120%;
}

.Thriller a:hover{
	background-image:none;
	background-size:0;
}

.Drammatico a:hover{
	background-image:none ;
	background-size:0;
}

.Poliziesco a:hover{
	background-image:none;
	background-size:0;
}

.Commedia a:hover{
	background-image:none;
	background-size:0;
}

.Fantasy a:hover{
	background-image:none ;
	background-size:0;
}

.Fantascienza a:hover{
	background-image:none ;
	background-size:0;
}

label{
	font-size: 150%;
}

input {
	font-size: 100%;
}

#ListaSerie{
	font-size: 150%;
}

#RisultatoRicerca{
	padding-left: 10%;
}

.lemieserie {
	font-size: 150%;
}

.lemieserie select{
	font:inherit;
}


input[type=submit]{	
	padding:0.5em;
	font-size: inherit;
}
