/*PARTE GENERALE*/

html{
	border-left: none;
	border-right: none;
}

#content {	
	float:none;
}

#header h1 {
	font-size: 3em;
}

#breadcrumbs{
	width: auto;
}

#menu {display: none}

#smallmenu{
	display: inline-block;
	height: auto;
	float: none;
	width: 100%;
	border-top: 1px solid #DDD;
	background-color: #4D4D4D;
	margin-bottom: 28em;
}

#smallmenu .login{
	display: block;
	float: none;
}

#smallmenu li{
	float: none;
}

#smallmenu li a {
	padding: 0.3em;
	color:#EDF2F7;
	display: block;
}

#smallmenu li p {
	padding: 0.3em;
	color: #EDF2F7;
	display: block;
}

.up {
	display: list-item;
	font-size: inherit;
	height: inherit;
}

#menu #login{
	display: inline-block;
	float:right;
}

#smallmenu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#smallmenu a:active{
	background-color: #9C9C9C;
}

#hamburger {
	display: block;
	width: auto;
	height: auto;
	background-color: #4D4D4D;
	border-bottom: 1px solid #DDD;
	color: #EDF2F7;
	padding-left: 0.3em;
	font-weight: bold;
	font-size: 1.5em;
}

#hamburger a {
	color: #EDF2F7;
	text-decoration:none;
}

.Genere{
	width:35%;
	min-width:0em;
}
.Genere a{
	padding-top:25%;
	padding-bottom:25%;
	font-size: 120%;
}

.Thriller a:hover{
	background-image:none;
	background-size:0;
}

.Drammatico a:hover{
	background-image:none ;
	background-size:0;
}

.Poliziesco a:hover{
	background-image:none;
	background-size:0;
}

.Commedia a:hover{
	background-image:none;
	background-size:0;
}

.Fantasy a:hover{
	background-image:none ;
	background-size:0;
}

.Fantascienza a:hover{
	background-image:none ;
	background-size:0;
}

label{
	font-size: 150%;
}

input {
	font-size: 100%;
}

#ListaSerie{
	font-size: 150%;
}

#RisultatoRicerca{
	padding-left: 10%;
}

.lemieserie {
	font-size: 150%;
}

.lemieserie select{
	font:inherit;
}

